footer {
    background-color: $secondary;
    display: flex;
}

footer .footer-content {
    flex-direction: column;
    display: flex;
    padding: 1.5rem;

    @include media-breakpoint-up(md) {
        flex-direction: row;
        padding: 3rem 2rem 2rem;
    }
}

.footer-logo {
    img {
        width: 60%;

        @include media-breakpoint-up(md) {
            width: 80%;
        }

        @include media-breakpoint-up(lg) {
            width: 40%;
        }
    }
}

.footer-right {
    @include media-breakpoint-up(md) {
        margin-top: 1.5rem;
    }
}

#menu-footer {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 1rem;
    padding: 0;
    margin: 2rem 0 0 0;

    @include media-breakpoint-up(md) {
        display: flex;
        padding: 0 3rem 0 0;
        justify-content: space-between;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    &>li>a {
        font-weight: 600;
    }

    li {

        a {
            margin-bottom: 1rem;
            display: block;
        }

        a:hover {
            color: $primary;
            transition: color 0.3s ease-in-out;
        }

        ul {
            font-size: 1.4rem;
            padding: 0;
        }
    }
}

.footer-legal {
    display: flex;
    justify-content: space-between;
    padding-right: 3rem;
    margin-top: 6rem;

    @include media-breakpoint-up(md) {
        margin-top: 16rem;
    }
}

#menu-legal {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.4rem;
}

.footer-text {
    font-size: 1.4rem;
}