.container-fluid {
    padding: 0;
}

.container-full {
    width: calc(100vw - 20px);
    margin: 0 10px;
}

.container-lg {
    @include media-breakpoint-down(lg){
        padding: 0 10px;
    }
}

.blog-grid {
    justify-content: space-between;
}