
header {
    padding: 1.2rem 3rem;
    align-items: center;
    margin: 0 !important;
}

header .site-branding {
    padding: 0;
}

header .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#site-navigation ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 2rem;

    li {
        color: $primary;
        position: relative;

        &::after {
            content: "";
            height: 2px;
            width: 100%;
            background: $primary;
            position: absolute;
            bottom: -2.6rem;
            left: 0;
            opacity: 0;
            transition: 0.2s ease-out opacity;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

#site-navigation-button ul {
    display: flex;
    gap: 1rem;
    margin: 0;
}

#site-navigation-button li.btn {
    background-color: $primary;
    border: 1px solid $primary;
    color: white;

    &:hover {
        background-color: white;
        color: $primary;
    }

    &:active {
        background: $primary;
        color: white;
        border-color: $secondary !important;
    }
}