.hero-gallery .splide__track {
    height: 100vh;
}

.hero-gallery-item {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.hero-gallery-content {
    z-index: 1;
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 2rem;
}