.image-text-h2 {
    margin-top: 8px;
    margin-bottom: 16px;

    @include media-breakpoint-down(md) {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

.text_rights_image_left .btn {
    margin-top: 32px;

    @include media-breakpoint-down(md) {
        margin-top: 24px;
    }
}